################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*bin/
*obj/
*.vs/
*.idea/
/PASSIFY/script.sql
/PASSIFY/secrets.json - Shortcut.lnk
node_modules/
package-lock.json
.env
*HTTP_REQS/
*.sql
*.junie